/*CSS document*/

@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');
@import url("https://use.typekit.net/boi1oki.css");

body {
    background-color: #fcfbf4;
    margin: 1em;
}

div.container {
    max-width: 80em;
    margin: 0 auto 3em;
}

section {
    max-width: 40em;
    margin: 0 auto 3em;
}

figure {
    margin: 0;
}

main.gallery {
    position: relative;
    overflow: hidden;
    padding-bottom: calc(66% + 5em);
}

.gallery figure{
    margin-top: 10em;
    margin: 0;
    width: 100%;
    position: absolute;
    left: 100%;
    opacity: 0;
    transition: left 1s, opacity 1s;
}

nav.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.2em;
}

input[type="radio"] {
    display: none;
}

img {
    width: 100%;
}

input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
input:nth-of-type(8):checked ~ main figure:nth-of-type(8){
    left: 0;
    opacity: 1;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0em;
    margin-bottom: 2.25em;
}

nav ul li {
    display: inline;
    list-style-type: none;
    margin-right: 0.95em;
    font-family: Jaldi, sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    font-style: normal;
}
  
nav ul li a {
    color: #242526;
    text-decoration: none;
}
  
nav ul li a:hover {
    color: #6B705C;
}

h1 {
    margin-bottom: 0.2em;
    width: 10em;
}

h2 {
    font-family: cormorant-garamond,serif;
    font-weight: 625;
    font-style: normal;
    font-size: 1.65em;
    margin-top: 0.75em;
    margin-bottom: 0.5em;
    color: #2C3C20;
    line-height: 1.45;
}

h3 a:hover{
    color: #6B705C;
}

h3 {
    font-family: cormorant-garamond,serif;
    font-weight: 625;
    font-style: normal;
    font-size: 1.35em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    color: #2C3C20;
}

figcaption {
    font-family: cormorant-garamond, serif;
    font-weight: 500;
    font-style: italic;
    font-size: 1em;
    margin: 0.25em 1em 0.85em 0em;
    color: #242526;
}

p {
    font-family: Jaldi, sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin: 0em;
    color: #242526;
    line-height: 1.2em;
}

p.story{
    font-family: Jaldi, sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 1em;
    color: #242526;
    line-height: 1.2em;
}

.tertiary a{
    text-decoration: none;

}

li.story{
    font-family: Jaldi, sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.2em;
    list-style-type: circle;
    margin-left: 1em;
    margin-bottom: 0em;
    margin-top: 0em;
}

ul.story{
    margin-top: 0em;
    margin-bottom: 0.75em;
}

.tertiary a :hover{
    color: #6B705C;
}

.secondary a{
    text-decoration: none;
}

.secondary a :hover {
    color: #6B705C;
}

a {
    text-decoration: none;
    color: #242526;
}

footer p{
    font-family: cormorant-garamond, serif;
    font-weight: 500;
    font-style: italic;
    font-size: 1em;
    margin-top: 1em;
}

section.personal-info ul li {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1em;
}

section.personal-info ul li input[type="text"],
section ul li input[type="email"],
section ul li input[type="tel"],
section ul li select {
	flex: 4 0 20em;
	box-sizing: border-box;
}

section.personal-info ul li label {
	flex: 0 0 6em;
}

section.order ul, section.method ul {
	display: flex;
	flex-wrap: wrap;
	}

section.order ul li , section.method ul li {
	flex: 1 0 15em;
	}
	
section.personal-info, section.subscriptions, section.button {
    background: #B7B7A4;
    padding: 1em;
    margin-bottom: 1em;
    max-width: 60em;
}

section p {
	margin-top: 0;
}

textarea {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	height: 6em;
	background: #fafafa;
	border: 1px solid #e8e8e8;
	padding: 0.4em;
	font-family: sans-serif;
	color: #B7B7A4;
	}

div.newsletter {
    margin: 1em;
    padding: 1em;
}

.newsletter {
    max-width: 60em;
    margin: 1em;
    padding: 1em;
}

@media screen and (min-width: 60em){
    div.container{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 1em;
    }

    header{
        grid-column: 1/3;
    }

    main{
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 0 1em;
    }

    div.newsletter {
        margin: auto;
    }

    section.mainstory{
        grid-column:2/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }

    section.mainstory figure {
        flex: 1 0 18em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory figure div {
        flex: 1 0 18em;
        background-image: url(Images/landscape_portrait.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    section.mainstory figure div img {
        height: 100%;
        opacity: 0;
    }

    section.mainstory figure figcaption{
        flex: 0 0 3em;
        margin-bottom: 0em;
    }
    section.mainstory h3{
        flex: 0 0 auto;
        margin: 0;
        margin-bottom: 0.5em;
        margin-top: 0em;
    }

    section.mainstory p{
        flex: 0 0 auto;
        margin: 0;
    }      

    label{
        flex: 1 0 8em;
    }

    main.gallery{
        grid-column: 1/3;
    }

    nav.gallery{
        grid-column: 1/3;
    }
    
    aside{
        grid-column: 2/3;
    }

    div.newsletter {
        margin: auto;
    }
    div.newsletter main{
        display: block;
    }
}