/*CSS DOCUMENT*/

@import url("https://use.typekit.net/ugc0jwn.css");

img {
    width: 100%; /*Please leave this line.*/
}

h1 {
    margin: 0.75em 0.5em 0em 1.25em;
    font-size: 2em;
    font-family: quasimoda, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #345d04;
    text-transform: uppercase;
}

h2 {
    margin: 0.5em 0.5em 0.25em 2em;
    font-size: 1.25em;
    font-family: quasimoda, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(0, 0, 0);
}

h3 {
    margin: 0.5em 0.5em 0em 2em;
    font-family: quasimoda, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #345d04;
    text-transform: uppercase;
}

figcaption {
    font-size: 0.85em;
    text-align: left;
    font-family: quasimoda, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(0, 0, 0);
}

ul {
    margin: 0.5em 0.75em 0.75em 1em;
    text-align: left;
    font-family: quasimoda, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(0, 0, 0);
}

ol {
    margin: 0.5em 0.75em 0em 1em;
    text-align: left;
    font-family: quasimoda, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(0, 0, 0);
}

h6 {
    margin: 0.75em 0.5em 1em 2.5em;
    font-family: quasimoda, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #345d04;
    font-size:1em;
}

/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
